.error {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center
}

form {
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.form-button-container {
    font-family: 'Istok Web', sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex; 
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    padding: 0.25em;
}

input {
    width: 100%
}

.new-thought {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;

}